{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load billy_utiltags %}
{% load i18n %}
{% load customtags %}

{% block title %}
{{metadata.legislature_name}} {% trans "Speeches" %}
{% endblock %}

{% block headblock %}
<link rel="canonical" href="{{speech.get_absolute_url}}">
{% endblock %}


{% block content %}
<style>
    #who, #who_name
    {
        text-indent:20px;
    }
</style>

<div class="container">
    <div class="Span12"><h2>{{metadata.legislature_name}} <small><a href="{% url "event" abbr event.id %}" >Event page</a></small></h2>
    </div>

    <div class="row-fluid">
        <h3>{% trans "Speeches" %}</h3>
    </div>
    <div class="withFilter" id="speeches_table">
        <div class="row-fluid" id="titles">
            <div class="span2" id="who"><h4>{% trans "Who" %}</h4></div>
            <div class="span6"><h4>{% trans "What they said" %}</h4></div>
        </div>
    </div>
    <div class="row">
        {% for speech in speeches %}
            <div class="{% cycle 'even' 'odd' as rowcolors %}">
            <div class="{{ rowcolors }}">
            <div class="span2" id="who_name">
            {% if speech.speaker_id %}
                <a href="{% url "legislator_noslug" abbr speech.speaker_id %}">{{speech.speaker}}</a>
            <p></div>
            {% else %}
                {{speech.speaker}}
            <p></div>
            {% endif %}
            <div class="span9">
                {{speech.text}}
            <p></div>
            </div>
            <div class="span1"></div>
    </div>
        {% endfor %}
</div>
{% endblock %}